/*Breadcrumb Styles*/
#wrapper-breadcrumb > .breadcrumb {
    border-radius: 0;
    background-color: #fff;
    min-height: 60px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.05);
    transition: all 0.3s ease;
}

#wrapper-breadcrumb > .breadcrumb> .breadcrumb-item a {
    color: #212529;
}

