/*Base Styles*/
body {
    margin: 0;
    padding-top: 76px;
    font-family: Poppins;
    background-color: #ECEBEF;
}

html {
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    -webkit-text-size-adjust: 100%;
}

hr {
    width: 100%;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
