/*Navbar Styles*/
nav{
    height: 76px;
}

#menu-minifier {
    font-size: 25px;
    cursor: pointer;
}

#sidebar-toggler{
    font-size: 25px;
    cursor: pointer;
}

#menu-minifier >.fa{
    color: #fff;
}

#user-menu > .dropdown-toggle::after {
    display:none;
}

#user-menu > button {
    color: #e1e1ef;
}

#user-menu > button {
    font-size: 25px;
}

#sidebar-toggler >.fa{
    color: #fff;
    :hover{
        color: #439ed8;
    }
}

#logo{
    line-height: 34px; 
    height: 34px; 
    width:44px; 
    background-color: #439ed8; 
    text-align: center; 
    border-radius: 5px; 
    font-weight: bold; 
    font-stretch:ultra-expanded; 
    color:#fff
}
